In [23]:
from scipy import stats
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from numpy import array

main = 'C:/Users/chomjung/Downloads/2020빅콘테스트'
EDA_address = '/EDA_세이버 매트릭스_'
team_pitcher = pd.read_csv(main+"/팀투수"+EDA_address+'팀투수.csv')
pitcher = pd.read_csv(main+"/개인투수"+EDA_address+'개인투수.csv')
team_hitter = pd.read_csv(main+"/팀타자"+EDA_address+'팀타자.csv')
hitter = pd.read_csv(main+"/개인타자"+EDA_address+'개인타자.csv')

ValueError: time data '2016-04-01' does not match format '%Y%m%d' (match)

In [ ]:
def RC(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['RC'] = 0
        return row
    previous_sum = previous.sum()
    upA = previous_sum['안타']+previous_sum['4구']-previous_sum['도루실패']+previous_sum['사구']-previous_sum['병살타']
    upB = (previous_sum['단타']*1.125)+(1.69*previous_sum['2루타'])+(3.02*previous_sum['3루타'])+(3.73*previous_sum['홈런'])+ 0.29*(previous_sum['4구']-previous_sum['고4']+previous_sum['사구'])
    down = previous_sum['타수']+previous_sum['4구']+previous_sum['사구']+previous_sum['희비']+previous_sum['희타']
    if down == 0:
        row['RC'] = 0
        return row
    row['RC'] = ((2.4*down+upA)*(3*down+upB)/(9*down)) - (0.9*down)
    
    return row

def RC27(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['RC27'] = 0
        return row
    previous_sum = previous.sum()
    down = previous_sum['타수'] - previous_sum['안타']+previous_sum['병살타']+previous_sum['도루실패']+previous_sum['희타']+previous_sum['희비']
    if down == 0:
        row['RC27'] = 0
        return row
    row['RC27'] = (row['RC']/down)*27
    
    return row

In [24]:
team_hitter = team_hitter.apply(RC, axis=1)

In [25]:
team_hitter = team_hitter.apply(RC27, axis=1)

In [26]:
team_hitter[['RC','RC27']].iloc[500: 600]

             RC      RC27
500  280.108449  5.496314
501  245.869884  4.888429
502  244.168828  4.756536
503  226.196636  4.790046
504  274.780250  5.524249
..          ...       ...
595  275.909175  4.664714
596  297.750215  5.027677
597  316.725852  5.361503
598  305.105798  5.338857
599  367.580926  6.175909

[100 rows x 2 columns]

In [95]:
team_hitter.to_csv("./EDA3-팀타자_세이버 매트릭스_합본.csv", encoding='utf-8-sig')

In [88]:
team_hitter.iloc[2870:2890]

,Unnamed: 0,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,타자,타수,타점,...,ops,타율,ISO,BABIP,BB/K,K%,BB%,RC,RC27,RC2
2870,1430,20171003HTKT0,2017-10-03,KT,HT,0,B,39,37,2,...,0.741971,0.275102,0.134898,0.322158,0.370040,0.185465,0.066605,634.876102,4.480307,17.014167
2871,1431,20171003HTKT0,2017-10-03,HT,KT,0,T,46,37,10,...,0.838182,0.301861,0.166699,0.334389,0.555305,0.153393,0.081891,854.624136,6.034219,21.902734
2872,1432,20171003LGLT0,2017-10-03,LT,LG,0,B,32,28,3,...,0.790421,0.285743,0.147805,0.330811,0.448718,0.180878,0.075276,734.435092,5.159966,20.193110
2873,1433,20171003LGLT0,2017-10-03,LG,LT,0,T,36,33,2,...,0.748475,0.281816,0.117695,0.331599,0.429842,0.181982,0.075166,669.766981,4.712981,18.069706
2874,1434,20171003NCHH0,2017-10-03,HH,NC,0,B,55,52,8,...,0.785629,0.287264,0.147650,0.328718,0.426653,0.172981,0.071301,731.561535,5.161265,19.768281
2875,1435,20171003NCHH0,2017-10-03,NC,HH,0,T,54,48,8,...,0.807920,0.292785,0.150666,0.334596,0.480947,0.169844,0.078363,795.782320,5.629060,20.216379
2876,1436,20171003SKOB0,2017-10-03,OB,SK,0,B,36,31,2,...,0.829829,0.294419,0.165845,0.330156,0.563351,0.165282,0.089823,841.893606,5.944332,21.384547
2877,1437,20171003SKOB0,2017-10-03,SK,OB,0,T,38,35,3,...,0.807925,0.271779,0.194888,0.303745,0.388278,0.198329,0.073375,748.906679,5.323981,20.312739
2878,1438,20171003WOSS0,2017-10-03,SS,WO,0,B,41,37,10,...,0.765809,0.278173,0.148478,0.316633,0.434560,0.173128,0.072225,716.627513,4.963813,18.232642
2879,1439,20171003WOSS0,2017-10-03,WO,SS,0,T,45,41,8,...,0.791617,0.289500,0.145936,0.339391,0.440228,0.186483,0.079441,766.576996,5.421053,20.127104
2880,0,20180324HHWO0,2018-03-24,WO,HH,0,B,41,37,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2881,1,20180324HHWO0,2018-03-24,HH,WO,0,T,38,37,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2882,2,20180324KTHT0,2018-03-24,HT,KT,0,B,43,36,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2883,3,20180324KTHT0,2018-03-24,KT,HT,0,T,38,37,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2884,4,20180324LGNC0,2018-03-24,NC,LG,0,B,35,30,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2885,5,20180324LGNC0,2018-03-24,LG,NC,0,T,32,30,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2886,6,20180324LTSK0,2018-03-24,SK,LT,0,B,40,32,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2887,7,20180324LTSK0,2018-03-24,LT,SK,0,T,39,33,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2888,8,20180324SSOB0,2018-03-24,OB,SS,0,B,32,32,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2889,9,20180324SSOB0,2018-03-24,SS,OB,0,T,43,37,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [37]:
def perRC(row):
    previous = hitter[hitter['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_sum = previous.sum()
    if len(previous) == 0:
        row['RC'] = 0
        return row
    upA = previous_sum['안타']+previous_sum['4구']-previous_sum['도루실패']+previous_sum['사구']-previous_sum['병살타']
    upB = (previous_sum['단타']*1.125)+(1.69*previous_sum['2루타'])+(3.02*previous_sum['3루타'])+(3.73*previous_sum['홈런'])+ 0.29*(previous_sum['4구']-previous_sum['고4']+previous_sum['사구'])
    down = previous_sum['타수']+previous_sum['4구']+previous_sum['사구']+previous_sum['희비']+previous_sum['희타']
    if down == 0:
        row['RC'] = 0
        return row
    row['RC'] = ((2.4*down+upA)*(3*down+upB)/(9*down)) - (0.9*down)    
    return row

def perRC27(row):
    previous = hitter[hitter['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_sum = previous.sum()
    if len(previous) == 0:
        row['RC27'] = 0
        return row
    down = previous_sum['타수'] - previous_sum['안타']+previous_sum['병살타']+previous_sum['도루실패']+previous_sum['희타']+previous_sum['희비']
    if down == 0:
        row['RC27'] = 0
        return row
    row['RC27'] = (row['RC']/down)*27
    
    return row

In [38]:
hitter = hitter.apply(perRC, axis=1)

In [41]:
hitter = hitter.apply(perRC27, axis=1)

In [44]:
hitter.to_csv("./EDA3-개인타자_세이버 매트릭스_합본.csv", encoding='utf-8-sig')

In [11]:
hitter.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', '게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드',
       '초말', '선수코드', '선발', '타순', '타자', '타수', '타점', '득점', '안타', '2루타', '3루타',
       '홈런', '도루', '도루실패', '희타', '희비', '4구', '고4', '사구', '삼진', '병살타', '실책',
       '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌', '단타', '출루율', '장타력', 'ops', '타율',
       'BABIP', 'BB/K', 'ISO', 'K%', 'BB%', 'RC'],
      dtype='object')

In [42]:
hitter['RC']

0         0.000000
1         0.000000
2         0.000000
3         0.000000
4         0.000000
           ...
81097    44.520442
81098     8.159004
81099     7.941509
81100    42.787961
81101    21.331733
Name: RC, Length: 81102, dtype: float64